@import "_variable.scss";
@import "_home.scss";
@import "_formlog.scss";

.content {
    position: relative;
    top: 1vw;
}

.cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.car {
    position: relative;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.view-button {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    background-color: #ff0000;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
}

.import-button {
    position: relative;
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.heart-container {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 20px;
}

.heart-container .fa-regular {
    display: block;
}

.favorites-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comparateur-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    display: none;
}

.cars-popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.car i.fa-code-compare,
.car i.fa-check {
    position: absolute;
    top: 5px;
    left: 5px;
}