/* line 1, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.banderole {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* line 8, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 8vw;
  background-color: black;
  display: flex;
  align-items: center;
}

/* line 18, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar img {
  height: 8vw;
}

/* line 22, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav {
  flex-grow: 1;
}

/* line 25, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

/* line 31, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav ul li {
  position: relative;
  margin-right: 40px;
}

/* line 35, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1vw;
  font-family: 'Amaranth', sans-serif;
}

/* line 41, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav ul li a:hover {
  color: #C7AF81;
}

/* line 46, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav ul li .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  background-color: black;
  padding: 10px;
  z-index: 1;
}

/* line 55, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav ul li .submenu li {
  margin: 5px 0;
}

/* line 58, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav ul li .submenu li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

/* line 67, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav ul li:hover .submenu {
  display: block;
}

/* line 75, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav:last-child .user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 40px;
}

/* line 80, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav:last-child .user-info p {
  color: #fff;
  text-decoration: none;
  font-size: 1vw;
  font-family: 'Amaranth', sans-serif;
}

/* line 86, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav:last-child .user-info a {
  color: #fff;
  text-decoration: none;
  font-size: 1vw;
  font-family: 'Amaranth', sans-serif;
}

/* line 92, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav:last-child .user-info a:hover {
  color: #C7AF81;
}

/* line 96, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.navbar nav:last-child .user-info a:not(:last-child) {
  margin-right: 40px;
}

/* line 105, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_home.scss */
.reprise {
  position: absolute;
  top: 200%;
}

/* line 1, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_formlog.scss */
.content {
  margin-top: 80px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* line 7, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_formlog.scss */
.content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* line 14, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_formlog.scss */
.content form input[type="text"],
.content form input[type="email"],
.content form input[type="password"],
.content form input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* line 25, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_formlog.scss */
.content form input[type="submit"] {
  background-color: black;
  color: #fff;
  cursor: pointer;
}

/* line 31, Z:/symfony.pymac.fr/web/codeigniter/public/scss/_formlog.scss */
.content form a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* line 5, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.content {
  position: relative;
  top: 1vw;
}

/* line 10, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.cars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* line 16, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.car {
  position: relative;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 200px;
}

/* line 24, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.view-button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* line 33, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.delete-button {
  background-color: #ff0000;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

/* line 42, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.import-button {
  position: relative;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* line 52, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.heart-container {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
}

/* line 60, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.heart-container .fa-regular {
  display: block;
}

/* line 64, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.favorites-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* line 76, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.comparateur-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* line 88, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60%;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  display: none;
}

/* line 104, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.cars-popup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

/* line 111, Z:/symfony.pymac.fr/web/codeigniter/public/scss/style.scss */
.car i.fa-code-compare,
.car i.fa-check {
  position: absolute;
  top: 5px;
  left: 5px;
}

/*# sourceMappingURL=style.css.map */